@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1e3a8a;
  --secondary: #facc15;
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  background-color: white;
  color: black;
}
